.navbar{
    display:flex;
    position:absolute;
    top:20px;
    right:20px;
    display:flex;
    flex-direction:column;
color: #EFEFEF;
font-family: 'Roboto', sans-serif;
    transform: translate(-50%, -50%);
    text-decoration:none;
    justify-content: space-between;
}
.nav{
    position:relative;
    display: flex;
    color: white;
    font-family: 'Roboto', sans-serif;
    top:40px;
    left:-200px;
    text-decoration:none;
    transition: background-position 275ms ease;
}
.nav1{
    position:relative;
    display: flex;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    left:-100px;
    top:22px;
    text-decoration:none;
   
}
.nav2{
    position:relative;
    display: flex;
    color:whitesmoke;
    left:20px;
    top:2px;
    font-family: 'Roboto', sans-serif;
    text-decoration:none;
}
.nav:hover{
    background-position: 0 100%;
    color: white;
   
}



.nav2:hover{
    background-position: 0 100%;
    color: white;
}
.nav1:hover{
    background-position: 0 100%;
    color: white;
}
.icon{
    position: relative;
    left:-800%;
    bottom:1rem;
    display: flex;
    flex-direction: row;
    float: left;
 
}
.fb{
   
  position: relative;
  left:3rem; 
  
}
.insta{
    
    position: relative;
    left:6.5rem; 
  }
  .github{
    
    position: relative;
    left:2rem; 
  }
  .gmail{
    
    position: relative;
    left:5.5rem; 
  }
  @media
  (min-width: 481px) and (max-width: 767px)
  {
  }