

.about-details{
display:flex;
    
}
.head{
    font-size: 2rem;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    

}





p{
    padding:1.5rem 0;
    color:white;
    font-family: 'Roboto', sans-serif;
    
    font-size:1.13rem;

}   
.right-section{
    margin-left:2.3rem;
  
}


.btn{
    padding: 1rem 2rem;
    background-color: #2f2fa2;
    outline: none;
    border: none;
 font-family: 'Roboto', sans-serif;
    font-size: inherit;
    color: black;
    text-transform: uppercase;
    cursor: pointer;
    letter-spacing: 2px;
    margin-top: 2rem;
    position: relative;
    &::after{
        position: absolute;
        content: "";
        width: 0;
        height: .3rem;
        left: 0;
        bottom: 0;
        background-color: #a4acc4;;
        transition: all 0.4s ease-in-out;
    }
    &:hover::after{
        width: 100%;
    }
}
    